<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    backupGlobals="false">

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <testsuites>
        <testsuite name="App Test Suite">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Console/</directory>
            <directory suffix=".php">vendor/</directory>
        </exclude>
    </source>

    <logging>
        <junit outputFile="build/junit.xml"/>
        <testdoxHtml outputFile="build/testdox.html"/>
        <testdoxText outputFile="build/testdox.txt"/>
    </logging>
</phpunit>